body {
    font: 15px Helvetica, sans-serif;
    background-color : #222222; 
    color :  #ffffff; 
}

img {
    width : 27.5vmin;
    height : 25vmin;
    float : left;
    margin-top: 2.5vmin;
    margin-left: 2.5vmin;
}

.project-desc {
    padding : 2.5vmin;
    vertical-align : middle;
    float : right;
    width : 60vmin;
}

.project-title {
    font-weight : bold;
    padding-top : 2.5vmin;
}

#title {
    margin : auto;
    text-align : center;
    font-size : 4vmin;
}
#projects-container {
    margin : auto;
    text-align : center;
}
.project {
    font-size : 2.5vmin; 
    width : 95vmin;
    height : 30vmin;
    margin : auto;
    margin-top : 1vh;
    background-color : #cccccc;
    display : block;
    color : #000000;
    text-decoration : none;

}
.project:hover {
    background-color : #dddddd;
}
